 # комментарий
        # игнорирование конкретного файла
        .env
        # игнорирование конкретной папки
        node_modules
        logs

        # игнорирование всех скрытых файлов
        .*

        # не игнорировать файл / папку
        !.gitignore
        !.gitkeep